@page "/chat"

@layout Layout

@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@using WebChat.Components.Account.Models
@inject AuthenticationStateProvider Auth
@inject HttpClient Http
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="tg">

    <!-- SIDEBAR -->
    <aside class="tg-sidebar">

        <div class="tg-top">Chats</div>

        <div class="tg-search">
            <input placeholder="Search..." @bind="search" />
        </div>

        <div class="tg-add">
            <input placeholder="Add user..." @bind="newContact" />
            <button @onclick="() => showAddModal = true">+</button>
        </div>

        <div class="tg-profile" @onclick="OpenProfile">
            <div class="avatar small"></div>
            <span>@userId</span>
        </div>

        <div class="tg-list">
            @foreach (var chat in chats
                            .Where(c => string.Join(", ", c.Users.Select(u => u.UserName))
                            .ToLower().Contains(search.ToLower())))
            {
                <div class="tg-item @(chat.Id == selectedChatId ? "active" : "")"
                     @onclick="() => SelectChat(chat.Id)">
                    <div class="avatar"></div>

                    <div class="tg-meta">
                        <div class="tg-name">
                            @string.Join(", ", chat.Users.Select(u => u.UserName))
                        </div>
                    </div>
                </div>
            }
        </div>

    </aside>

    <!-- MAIN -->
    <main class="tg-main">

        @if (selectedChatId != null)
        {
            <div class="tg-header">
                <div class="avatar small"></div>
                <div>
                    <div>
                        @chats.FirstOrDefault(c => c.Id == selectedChatId)?
                        .Users.FirstOrDefault()?.UserName
                    </div>
                    <div class="tg-status">online</div>
                </div>
            </div>

            <div class="tg-chat" @ref="chatRef">

                @foreach (var msg in messages)
                {
                    <div class="msg @(msg.SenderId == userId ? "me" : "other")">
                        @msg.Text
                    </div>
                }

            </div>

            <div class="tg-input-glass">
                <input placeholder="Type a message..."
                       @bind="currentMessage"
                       @bind:event="oninput"
                       @onkeydown="HandleKey" />

                <button @onclick="Send">➤</button>
            </div>
        }
        else
        {
            <div style="padding:20px;">Select chat</div>
        }

        @if (showAddModal)
        {
            <div class="overlay" @onclick="CloseModal">
                <div class="modal" @onclick:stopPropagation>
                    <h3>Add Contact</h3>

                    <input placeholder="Username"
                           @bind="newContact" />

                    <button @onclick="CreateContact">Add</button>
                </div>
            </div>
        }

    </main>
</div>

@code {
    private HubConnection? hub;
    private const string API = "https://localhost:7067";

    private ElementReference chatRef;

    private bool isRendered = false;
    private bool shouldScroll = false;

    private List<ChatDto> chats = new();
    private List<MessageDto> messages = new();

    private int? selectedChatId;
    private string currentMessage = "";
    private string newContact = "";
    private string search = "";

    private string? userId;
    private int? previousChatId;
    private bool showAddModal = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;


        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (userId == null)
        {
            Nav.NavigateTo("/Account/Login", true);
            return;
        }

        chats = await Http.GetFromJsonAsync<List<ChatDto>>(
            $"{API}/api/chats/{userId}"
        ) ?? new();

        if (!chats.Any(c => c.Id == 0))
        {
            chats.Insert(0, new ChatDto
            {
                Id = 0,
                Users = new List<UserDto>
                {
                    new UserDto { UserName = "WebChat" }
                }
            });
        }

        selectedChatId = 0;
        await SelectChat(0);

        hub = new HubConnectionBuilder()
            .WithUrl(Nav.ToAbsoluteUri("/chatHub"))
            .WithAutomaticReconnect()
            .Build();

        hub.On<int, string, string, DateTime>("ReceiveMessage",
    async (chatId, senderId, text, time) =>
    {
        if (chatId == selectedChatId)
        {
            if (senderId == userId) return;

            messages.Add(new MessageDto
            {
                SenderId = senderId,
                Text = text
            });

            shouldScroll = true;
            await InvokeAsync(StateHasChanged);
        }

        var chat = chats.FirstOrDefault(c => c.Id == chatId);
        if (chat != null)
        {
            chats.Remove(chat);
            chats.Insert(0, chat);
        }
    });


        await hub.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            isRendered = true;

        if (isRendered && shouldScroll)
        {
            shouldScroll = false;
            await ScrollToBottom();
        }
    }
    private async Task SelectChat(int chatId)
    {
        if (previousChatId != null && hub is not null)
        {
            await hub.SendAsync("LeaveChat", previousChatId);
        }

        selectedChatId = chatId;
        previousChatId = chatId;

        if (chatId == 0)
        {
            messages = new()
        {
            new MessageDto
            {
                SenderId = "system",
                Text = "Welcome to WebChat 👋"
            }
        };
        }
        else
        {
            messages = await Http.GetFromJsonAsync<List<MessageDto>>(
                $"{API}/api/messages/{chatId}") ?? new();
        }

        if (hub is not null)
        {
            await hub.SendAsync("JoinChat", chatId);
        }

        shouldScroll = true;
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(currentMessage) || selectedChatId == null)
            return;

        var text = currentMessage;

        currentMessage = "";

        var msg = new MessageDto
        {
            SenderId = userId,
            Text = text
        };

        messages.Add(msg);

        await Http.PostAsJsonAsync($"{API}/api/messages", new
        {
            ChatId = selectedChatId,
            SenderId = userId,
            Text = text
        });

        if (hub is not null)
        {
            await hub.SendAsync("SendMessage", selectedChatId, userId, text);
        }

        shouldScroll = true;
    }


    private async Task HandleKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !e.ShiftKey)
        {
            await Send();
        }
    }

    private async Task AddContact()
    {
        if (string.IsNullOrWhiteSpace(newContact))
            return;

        var response = await Http.PostAsJsonAsync($"{API}/api/chats", new
        {
            UserName = newContact,
            OwnerId = userId
        });

        if (!response.IsSuccessStatusCode) return;

        var newChat = await response.Content.ReadFromJsonAsync<ChatDto>();

        if (newChat != null)
        {
            chats.Insert(0, newChat);
            selectedChatId = newChat.Id;
            messages = new();
        }

        newContact = "";
    }

    private async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("eval",
            "document.querySelector('.tg-chat').scrollTop = document.querySelector('.tg-chat').scrollHeight");
    }

    private void OpenProfile()
    {
        Nav.NavigateTo("/Account/Manage");
    }

    private void CloseModal()
    {
        showAddModal = false;
    }

    private async Task CreateContact()
    {
        if (string.IsNullOrWhiteSpace(newContact))
            return;

        var response = await Http.PostAsJsonAsync($"{API}/api/chats", new
        {
            UserName = newContact,
            OwnerId = userId
        });

        if (!response.IsSuccessStatusCode) return;

        var newChat = await response.Content.ReadFromJsonAsync<ChatDto>();

        if (newChat != null)
        {
            chats.Insert(0, newChat);
            await SelectChat(newChat.Id);
        }

        newContact = "";
        showAddModal = false;
    }

}